<!DOCTYPE html>
<html lang="en">
<head th:fragment="headers">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/MyCrawler.png">
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.7-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/custom.css}">
    <script defer th:src="@{/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar bg-primary-subtle navbar-expand-lg" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" th:each="link : ${ { 'products', 'subscriptions' } }">
                    <a class="nav-link"
                       th:href="@{${link}}"
                       th:classappend="${#execInfo.getProcessedTemplateName() == link } ? 'active' : '' "
                       th:attrappend="aria-current=${#execInfo.getProcessedTemplateName() == link ? 'page' : null }"
                       th:text="${#strings.capitalize(link)}"
                    ></a>
                </li>
            </ul>
        </div>
        <span class="navbar-text">
            <a class="navbar-brand" th:href="@{/logout}">Logout</a>
        </span>
    </div>
</nav>
</body>
</html>